extends layout

block content
  h1 Train Schedule
  p Select your train below to see its current schedule. Please don`t forget to get to the station an hour earlier tomorrow or Monday!
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.